/*Default settings*/

nav, 
header ,
footer{
	display:block;
}

body{

	margin: 0;
	line-height: 1;
	background-color: #e3e3e3;

}

label{
	font-size: 35px;
	font-weight: bold;
}

p{
	font-size: 18px;
	line-height: 1.2;


}

.subtitle{
	color: white;
}

article p {
	font-size: 25px;
	padding: 20px;
	padding-left: 25px;
}

.container{
	width: 100%;
	margin: auto;
	padding-top: 4%;
	padding-bottom: 4%;

}

.row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.rows::after{
	display: table;
	clear: both;
	content: "";
}



.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

* {
	box-sizing: border-box;
}

/*Nav bar*/
nav{
	width: 100%;
	margin: 0;
}

nav ul{
	background-color: #eee;
	overflow: hidden;
	margin: 0 ;
}

ul.topnav li{
	list-style: none;
	float: left; 

}

ul.topnav li.topnav-right{
	float: right;
	border: grey solid ;
}

ul.topnav li a{
	display: block;
	text-decoration: none;
	min-height: 16px;
	text-align: center;
	padding: 14px;
	text-transform: uppercase;
	color: grey;

} 
ul.topnav li a:hover{
	background-color: orange;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

ul.topnav li.dropdownIcon{
	display: none;
}

.container1 {
	margin:  12px;
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 75%;
  height: 75%;
  height: auto;
}
.heading{
	color: red;
	font-weight: bold;
	/*margin-bottom: 5px;*/

}

/*.overlay {
	/*padding: 12px;*/
	text-decoration: none;

  position: absolute;
  border-radius: 10px;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 25%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.overlay:hover {
  opacity: 1;
}*/



.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text ul li{
	text-align: left;
	text-transform:uppercase;
	list-style: none;
	line-height: 1.2;
	color: white;
}



/**/
/**, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}*/

/*body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}*/

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container1{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container1{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container1{
    width: 33.33333%;
  }
}

.container1 .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #29f533;
  font-weight: 500;
  font-weight: bold;
  letter-spacing: 0.15em;
  line-height: 1.4;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}




/*#######      Custom styling  #################*/
#section-1-gradient{
	background: #076DFF;
	background: -webkit- linear-gradient(#076DFF,#65a5ff);
	background: -o- linear-gradient(#076DFF,#65a5ff);
	background: -moz- linear-gradient(#076DFF,#65a5ff);
	background: linear-gradient(#076DFF,#65a5ff);


}

img{
	height: 250px;
	width: 250px;
	border-radius: 10px;
}

div.icon{
	width: 100%;
}

div.box{
	background-color: #fff;
	margin: 24px;
	border-radius: 10px;
	padding: 30px 24px 40px 24px;
	text-align: center;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.15),
	0 2px 3px 0 rgba(0,0,0,0.1);
}

div.photo img{
	display: block;
	margin: auto;
	border-radius: 100px;
	/*border: solid black 10px;*/
	box-shadow: -2px/*Horizontal*/ -2px/*Vertical*/ 5px/*Blur*/ 2px/*spread*/ rgba(0,0,0,0.15),
	2px 2px 4px 2px rgba(0,0,0,1);

}

div.LeftSide-col{
	margin-left: 30%;
	margin-top: 15%
}

h1.section2Header{
	font-size: 56px;
	text-align: center;
}

h1.large{
	color: #FFF;
	font-size: 56px;
	margin: 0;
	line-height: 75px;
}

.mailid img{
	width: 50px;
	height:  50px;
}
.mailid{
	text-align: center;
}

.contacts{
	background:grey; 
	

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#navbar{
	overflow: hidden;
	z-index: 1;
}
a:hover{
	cursor: pointer;
}


/*#############Mobile settings #################*/
@media screen and (max-width: 680px){
	ul.topnav {
		padding: 0;
	}
	
	ul.topnav li a:hover{
	background-color: orange;
	color: white;
	font-weight: normal;
	font-size: 16px;
	}
	
	ul.topnav li:not(:nth-child(1)){
		display: none;
	}
	ul.topnav li.dropdownIcon{
		display: block;
		float: right;
	}

	ul.topnav.responsive li.dropdownIcon{
		position: absolute;
		top: 0;
		right: 0;
	}

	ul.topnav.responsive{
		position: relative;
	}
	ul.topnav.responsive li{
		display: inline;
		float: none;
	}
	ul.topnav.responsive li a{
		display: block;
		text-align:  left;
	}
	ul.topnav.responsive li.topnav-right{
		border: none;
	}

	article p{
		font-size: 18px;
		line-height: 1.2;
	}
	div.photo img{
		height: 160px;
		width: 160px;
		border-radius: 200%;
	}

	.col-9,
	.col-7,
	.col-5,
	.col-3,
	.col-4{
		width: 100%;
		margin: 0;
	}
	
	.col-3{

		margin: 5px;
		/*flex-direction: column-reverse; */
	}
	div.box{
		padding: 10px;
		display: block;
	}
	div.LeftSide-col{
		text-align: center;
		margin-left: auto;
		/*font-size: 40px;*/

	}
	h1.section2Header{
		font-size: 40px;
	}
	h1.large{
		font-size: 40px;
		line-height: 50px;
	}

	* {
		flex-direction: column-reverse;
	}

}

/*##########Tablet settings#########*/

@media screen and (max-width: 768px){
	.col-9,
	.col-7,
	.col-5,
	.col-3,
	.col-4{
		width: 100%;
		margin: 0;
	}
	div.box{
		padding: 30px 30px 40px 30px;
		display: block;
		line-height: 1.8;

	}
	* {
		flex-direction: column-reverse;
	}
	div.LeftSide-col{
		margin-left: 10px;
	}
	hr{
		width: 100vw;
	}

}